<h1><%=t('form_title.editing_game')%></h1>

<%= render 'form', game: @game %>

<%= link_to t('form_options.show'), @game, class: "btn btn-outline-secondary mt-2" %>
<%= link_to t('form_options.back'), games_path, class: "btn btn-outline-secondary mt-2" %>
