<h1><%=t('form_title.editing_competence')%></h1>

<%= render 'form', competence: @competence %>

<%= link_to t('form_options.show'), @competence, class: "btn btn-outline-secondary mt-2" %>
<%= link_to t('form_options.back'), competences_path, class: "btn btn-outline-secondary mt-2" %>
