<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @scout_branch.description %>
</p>

<%= link_to t('form_options.edit'), edit_scout_branch_path(@scout_branch) %> |
<%= link_to 'Back', scout_branches_path %>
